@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css?family=Lobster+Two:700|Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    user-select: none;
}

body {
    background: #eee;
}

/* .container {
    width: 80%;
    max-width: 1140px;
    margin: 0 auto;
} */

header {
    background: #fff;
    position: fixed;
    width: 100%;
    z-index: 3;
    padding: 0 39px 0 39px;
    box-shadow: 0 0 2px rgba(50, 50, 50, .2);
    height: 125px;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.header_icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.down_header {
    padding-top: 8px;
}

.down_header_icon {
    display: flex;
    align-items: center;
    gap: 30px;
}

.down_header_icon .line_icon {
    background: #eaeaea;
    height: 35px;
    width: 1px;
}

.top_header {
    border-bottom: 1px solid #d3cfcf;
    /* padding: 10px 0; */
}

.top_header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 9px;
}

.img_spans {
    display: flex;
    align-items: center;
    gap: 100px;
}

.img_spans img {
    width: 155px;
    height: 34px;
}

.three_spans {
    display: flex;
    gap: 25px;
}

.img_spans a:nth-child(1) {
    color: red;
    font-weight: 500;
    letter-spacing: -.02em;
    line-height: 20px;
    font-size: 16px;
}

.img_spans a:nth-child(2),
.img_spans a:nth-child(3) {
    color: #323232;
    font-weight: 500;
    letter-spacing: -.02em;
    line-height: 20px;
    font-size: 16px;
}

.span_btn_select {
    display: flex;
    align-items: center;
    /* gap: 5px; */
}

.span_btn_select .ayliq_btn {
    width: 117px;
    height: 39px;
    border-radius: 10px;
    border: 1px solid #17a539;
    color: #17a539;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    background-color: white;
    /* letter-spacing: -.02em; */
    margin-right: 16px;
    cursor: pointer;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(148, 67, 67, 0.829); */
}

.popup-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 560px;
    height: 265px;
    border-radius: 10px;
}

.close {
    float: right;
    cursor: pointer;
}

.odenis_usullari {
    display: flex;
    gap: 20px;
}

.odenis_usullari img {
    width: 120px;
    height: 50px;
    padding-top: 10px;
}

.odenis_usullari .odenis_card {
    width: 155px;
    height: 65px;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 10px;
}

.daxil_ol {
    border: 0;
    width: 79px;
    height: 37px;
    color: #323232;
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px;
    background-color: #f3f3f3;
}

.span_btn_select a {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -.02em;
    line-height: 20px;
    margin-right: 24px;
    color: #323232;
}

.span_btn_select .star_star {
    color: #FF0000;
}

.span_btn_select select {
    font-size: 16px;
    border: 0;
    outline: none;
    padding-left: 22px;
}

.li_icon_admin {
    padding-left: 10px;
    /* display: none; */
}

#icon {
    font-size: 20px;
    cursor: pointer;
}

.square {
    width: 100px;
    height: 100px;
    background-color: blue;
    margin-top: 20px;
}

.pop_up {
    display: none;
    width: 426px;
    height: 600px;
    padding: 14px 50px 50px;
    margin: 0 auto;
    margin-top: 21px;
    border: 1px solid #ccc;
    background: #fff;
    overflow-y: scroll;
    position: fixed;
    left: 84%;
    top: 65%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.line_veya {
    position: relative;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.line_veya span {
    font-weight: 500;
    font-size: 14px;
    z-index: 1;
    position: relative;
    line-height: 20px;
    letter-spacing: -.02em;
    text-align: center;
    color: #777;
    background: #fff;
    padding: 0 15px;
}

.line_veya::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background: #eaeaea;
}

/* #toggleButton {} */
.pop_up p {
    font-size: 14px;
}

.pop_up button {
    background: #F3F3F3;
    border-radius: 10px;
    width: 324px;
    height: 48px;
    display: flex;
    justify-content: center;
    padding: 12px 0;
    margin-bottom: 10px;
    border: 0;
    display: flex;
    gap: 10px;
}

.pop_up button:hover {
    background: #e6e5e5;
    transition: 0.6s;
}

.pop_up input {
    outline: none;
}

.pop_up.active {
    display: block;
}

.pop_up.active {
    display: block;
}

.pop_up h3 {
    /* font-family: "Kalam", sans-serif; */
    font-weight: 600;
    font-size: 28px;
    /* text-align: center; */
}

.login_btn {
    border: 0;
    background-color: transparent;
}

form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    font-size: 12px;
    gap: 10px;
    font-weight: 600;
    margin-top: 20px;
}

label span {
    font-size: 12px;
    color: #ff003c;
    display: flex;
}

input[type="text"],
input[type="email"] {
    width: 350px;
    border-bottom: 1px solid #0e0d0d;
    /* border-radius: 5px; */
    outline: none;
    border: 0;
    /* margin-bottom: 20px; */
}

.pop_up form input {
    border-bottom: 2px solid rgb(12, 12, 12);
}

.yadda_saxla {
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    color: #777777;
    font-size: 12px;
}

/* input[type="submit"]:hover {
    background-color: #ff003c;
} */

.input_showHide {
    display: flex;
    flex-direction: column;
}

/* .input_showHide label {
    margin-bottom: 5px;
} */

.cixis_icon {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    padding-top: 20px;
    padding-right: 10px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 58%;
    top: -4%;
    width: 300px;
    /* overflow: auto; */
    /* background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);  */
}

.btn_div_modal {
    width: 117px;
    height: 39px;
    border-radius: 10px;
    border: 1px solid #17a539;
    color: #17a539;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    background-color: white;
    /* letter-spacing: -.02em; */
    margin-right: 16px;
    cursor: pointer;
}

.btn_div_modal2 {
    border: 0;
    width: 79px;
    height: 37px;
    color: #323232;
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    /* width: 80%; */
    height: 200px;
    overflow-y: auto;
}

.btn_admin_divs {
    display: flex;
    margin-top: 20px;
}

.modal-content div a span {
    line-height: 30px;
}

.close_admin {
    color: #0a0a0a;
    float: right;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.cixis_icon i {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    /* background-color: #ff003c; */
}

#closeIcon {
    color: black;
}

.login_sign button {
    width: 324px;
    height: 48px;
    border-radius: 5px;
    border: 0;
    background-color: #FF003c;
    font-size: 14px;
    color: #ffffff;
    margin-top: 20px;
}

.input_showHide input {
    width: 300px;
    /* height: 40px; */
    /* margin-bottom: 17px; */
    border: 0;
}

.input_showHide button {
    border: 0;
    /* width: 50px;
    height: 40px; */
    border-radius: 5px;
    color: #141313;
    font-size: 17px;
    display: none;
    background-color: #ffffff;
}

.qeydiyyat_btn {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.red-heart.clicked {
    color: #ff003c;
}

.input_div {
    display: flex;
    align-items: center;
}

.input_div input {
    margin-left: 8px;
    padding: 8px;
    width: 200px;
}

#results {
    margin-top: 10px;
    display: flex;
}

.result-item {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.input_div input {
    background: #f3f3f3;
    border-radius: 10px;
    border: 1px solid transparent;
    color: #777;
    font-weight: 500;
    letter-spacing: -.02em;
    line-height: 20px;
    padding: 8px 42px 8px 42px;
    transition: .3s;
    outline: none;
    width: 100%;
    height: 38px;
    width: 751px;
    margin-left: 80px;
}

.input_div {
    position: relative;
}

.input_div input[type="search"] {
    padding-left: 40px;
    display: flex;
    gap: 20px;
}

.input_div .fa-solid.fa-magnifying-glass {
    position: absolute;
    padding-left: 8px;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    font-size: 19px;
    color: #323232;
}

.input_div button {
    border: 0;
    width: 38px;
    height: 38px;
    color: white;
    background-color: #ff003c;
    border-radius: 50%;
}

#first_section {
    padding: 137px 39px 0 39px;
    display: flex;
}

.container1 {
    margin: 0 auto;
    display: flex;
    gap: 10px;
    padding: 135px 39px 0 39px;
}

.one_section .corner:nth-child(1) {
    border-radius: 10px;
}

.corner {
    width: calc((100% - 20px) / 5);
}

#center {
    width: calc((100% - 20px) / 5 * 3);
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper1 {
    height: 565px;
    border-radius: 10px;
}

.swiper1 img {
    height: 565px;
    width: 565px;
    border-radius: 10px;
}

.left_div {
    height: 565px;
    width: 245px;
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    overflow: hidden;
    /* overflow: scroll; */
}

.left_div span {
    color: #323232;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.02em;
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 10px;
}

.left_div ul li {
    position: relative;
}

.left_div span>div:hover {
    width: 1000px;
    height: 565px;
    background-color: #fff;
    position: absolute;
}

.left_div ul {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.left_div span:hover {
    color: #FF0000;
}

.right_div {
    height: 565px;
    width: 245px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 15px;
    overflow: hidden;
}

.right_div h3 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -.03em;
    line-height: 30px;
    margin: 0;
    text-align: center;
}

.dealTimer {
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid #eaeaea;
    padding: 15px 15px 10px;
}

/* .dealTimer__hours {
    display: flex;
    flex-direction: column;
} */

.dealTimer em {
    font-size: 12px;
    font-style: normal;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: -.02em;
}

.right_div span {
    color: #17a539;
    font-weight: 600;
    letter-spacing: -.02em;
    line-height: 20px;
    margin-bottom: 2px;
}

.dealTimer__vert {
    background: #eaeaea;
    height: 10px;
    margin: auto;
    width: 1px;
}

.mySwiper2 {
    width: 244px;
    text-align: center;
}

.mySwiper2 img {
    padding-top: 20px;
}

.mySwiper2 h2 {
    font-size: 14px;
    color: #323232;
}

.mySwiper2 h3 {
    font-size: 20px;
    font-weight: 600px;
    color: #FF0000;
    text-align: center;
}

.mySwiper2 div {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.mySwiper2 h3:nth-child(2) {
    font-size: 16px;
    color: #777;
    font-weight: 700;
    text-decoration: line-through;
}

.mySwiper2 button {
    border: 0;
    width: 184px;
    height: 48px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: #ff003c;
}

.mySwiper2 span {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 400;
}

.kataloq_div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.kataloq_div span {
    font-size: 16px;
    color: #4B5563;
    font-weight: 500;
}

.dropdown-menu {
    width: 335px;
}

.nvbr_click_div {
    display: flex;
    gap: 30px;
    align-items: center;
    padding-left: 20px;
}

.dropdown-menu img {
    width: 27.57px;
    height: 37.84px;
}

.dropdown-menu span {
    font-size: 16px;
    font-weight: 700;
}

.dropdown-menu button {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.sebet_user_icon {
    display: flex;
    gap: 10px;
}

.sebet_user_icon i {
    font-size: 16px;
    color: #292D32;
}

.sebet_user_icon span {
    display: flex;
    gap: 10px;
}

.sebet_user_icon a {
    color: #292D32;
    font-size: 14px;
    font-weight: 400;
}

.sebet_user_icon {
    display: flex;
    gap: 20px;
}

#two_section {
    padding: 10px 39px 0 39px;
}

.down_div {
    display: flex;
    align-items: center;
    border-radius: 10px;
    overflow-x: scroll;
    background: #fff;
    height: 100px;
}

.markalar {
    display: flex;
    gap: 58px;
    padding-left: 20px;
}

.markalar a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    height: 60px;
    width: 60px;
}

.markalar a:hover {
    background-color: #d8d6d6;
    transition: 0.5s;
}

.markalar img {
    width: 58px;
    height: 58px;
}

.melumatlar {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.four_div {
    width: 307px;
    height: 89px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 30px;
    gap: 30px;
}

.h3_span {
    display: flex;
    flex-direction: column;
    max-width: 340px;
}

.h3_span h3 {
    font-size: 14px;
    line-height: 18px;
    color: #323232;
    width: 200px;
}

.h3_span span {
    color: #777777;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.02em;
    line-height: 20px;
}

.satis_lideri {
    margin-top: 100px;
}

.satis_lideri div {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.satis_lideri button {
    color: #4b5563;
    border-radius: 20px;
    font-size: 14px;
    height: 41px;
    border: 0;
    padding: 10px 15px;
    background-color: #e4e2e2;
}

#btn1 {
    background-color: #323232;
    color: #fff;
}

#btn1 {
    background-color: #323232;
    transition: 0.5s;
    color: #fff;
}

.satis_lideri button:hover {
    background-color: #323232;
    transition: 0.5s;
    color: #fff;
}

.card {
    width: 243px;
    height: 380px;
    margin-top: 20px;
    border-radius: 10px;
    border: 0;
    padding-top: 30px;
    text-align: center;
    overflow: hidden;
}

.card i {
    cursor: pointer;
}

.card img {
    width: 180px;
    height: 200px;
    margin-top: 22px;
}

.card:hover {
    height: 570px;
    width: 243px;
    cursor: pointer;
}

.card_icons {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 12px;
    padding-top: 20px;
}

.card_icons i {
    font-size: 18px;
    color: #323232;
}

.slider-container {
    position: relative;
    overflow: hidden;
}

.slider-container .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slider-container .slide-button:hover {
    background: #404040;
}

.slider-container .slide-button#previous-slide {
    left: -25px;
    display: none;
}

.slider-container .slide-button#next-slide {
    right: -25px;
}

.slider-container .image-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 18px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
}

.slider-container .image-grid::-webkit-scrollbar {
    display: none;
}

.slider-container .image-grid .image-item {
    width: 325px;
    height: 400px;
    object-fit: cover;
}

.container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
}

.slider-scrollbar:hover .scrollbar-track {
    height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #000;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
}

.slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

.line {
    background: #eaeaea;
    height: 24px;
    width: 1px;
}

.sebet_btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    /* padding-top: 15px; */
    background: #f3f3f3;
    border-radius: 10px;
    height: 48px;
    width: 200px;
    border: 0;
    margin-top: 40px;
}

.sebet_btn button:hover {
    background-color: #cdcdcd;
    transition: 0.5s;
}

.sebet_btn .sebet_elavet {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.02em;
}

.ekran_yaddas {
    display: flex;
    flex-direction: column;
}

.ekran_yaddas span {
    display: flex;
    font-size: 12px;
    font-weight: 500;
    justify-content: space-between;
    letter-spacing: -0.02em;
    line-height: 12px;
    margin-bottom: 10px;
    color: #323232;
}

.ekran_yaddas span em {
    font-style: normal;
    color: #323232;
}

#heart.red {
    color: #ff003c;
}

.card-body {
    text-align: center;
}

.card-body h5 {
    font-size: 16px;
    font-weight: 500;
    color: #323232;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.02em;
    line-height: 20px;
    margin-bottom: 12px;
}

.card-title {
    text-align: start;
}

.card .h3_sss {
    text-align: start;
    padding-top: 20px;
}

.text_dec {
    /* text-decoration: line-through; */
    font-weight: 700;
    color: #ff003c;
    font-size: 14px;
    letter-spacing: -0.02em;
}

/* .one_price {
    color: #ff003c;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.02em;
} */

.qeydiyyat_pop_up {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    margin: 0;
    width: 100%;
    max-width: 328px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    z-index: 810;
    text-align: start;
}

.hesab_icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hesab_icon i {
    color: #17A539;
}

.s_hesab {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}

.qeydiyyat_pop_up p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #777777;
    padding-top: 15px;
}

.qeydiyyat_daxil_btn .qeydiyyat_buttn {
    width: 100%;
    padding: 8px 15px 8px 15px;
    border-radius: 10px;
    color: #323232;
    border: 1px solid #323232;
    background-color: white;
}

.qeydiyyat_daxil_btn .qeydiyyat_buttn:hover {
    color: #777777;
    border: 1px solid #777777;
    background-color: white;
}

.qeydiyyat_daxil_btn .daxil_ol_btn {
    border: 0;
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    color: #323232;
    background-color: #F3F3F3;
}

.exit_icon {
    display: flex;
    justify-content: flex-end;
}

.exit_icon i {
    background-color: #FF0000;
    height: 25px;
    width: 25px;
    font-size: 14px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F6F6F6;
    cursor: pointer;
}

.card .one_price {
    color: #FF0000;
}

.three_section {
    height: 418px;
    width: 100%;
    background: #fff;
    margin-top: 100px;
    padding: 40px 39px 0 39px;

}

.three_section h2 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -.03em;
    line-height: 30px;
}

.videos {
    display: flex;
    gap: 10px;
    overflow: scroll;
}

.video_div {
    display: flex;
    align-items: center;
    position: relative;
}

.video_link {
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    top: 40%;
    left: 40%;
    cursor: pointer;
}

.video_div img {
    width: 328px;
    height: 213px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 10px;
    object-fit: cover;
}

footer {
    height: 400px;
    background-color: #fff;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.elaqe h3 {
    color: #17a539;
    font-size: 14px;
    font-weight: 700;
}

.elaqe h4 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -.02em;
    line-height: 20px;
    margin-bottom: 35px;
    color: #323232;
}

.elaqe span {
    font-size: 12px;
    color: #323232;
}

.visa_master {
    display: flex;
    gap: 20px;
    padding-top: 30px;
}

.sirket {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150px;

}

.sirket h3 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -.02em;
    line-height: 20px;
    margin-bottom: 25px;
    color: #323232;
}

.sirket a {
    color: #777;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -.02em;
    line-height: 16px;
}

.bizimle_qalin .footer_icons {
    display: flex;
    gap: 30px;
    padding-top: 20px;
}

.bizimle_qalin h3 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -.02em;
    line-height: 20px;
    margin-bottom: 35px;
    color: #323232;
}

.footer_div {
    display: flex;
    justify-content: space-between;
    padding: 50px 50px 0 50px;
}

.footer_bottom {
    align-items: center;
    background: #f3f3f3;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    height: 50px;
    justify-content: center;
    letter-spacing: -.02em;
    line-height: 16px;
    height: 50px;
    width: 100%;
    margin-top: 40px;
}

@media only screen and (max-width: 1440px) {
    .li_icon_admin {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
    .container2 {
        width: 75%;
    }

    .img_spans img {
        width: 105px;
        height: 23px;
    }

    .img_spans .three_spans {
        padding-left: 50px;
    }

    .span_btn_select a:nth-child(1) {
        display: flex;
    }

    .three_spans span {
        font-size: 16px;
    }

    .input_div input {
        width: 550px;
        background-color: transparent;
    }

    .one_section .corner {
        display: none;
    }

    .one_section #center img {
        width: 1024px;
        height: 1024px;
    }

    .swiper1 {
        height: 1024px;
        width: 1024px;
        border-radius: 10px;
        margin: 0 auto;
    }

    .melumatlar .four_div {
        width: 225px;
        gap: 5px;
        padding: 5px;
    }

    .four_div svg {
        width: 20px;
        height: 30px;
    }

    .melumatlar span,
    .melumatlar h3 {
        font-size: 12px;
    }
}

@media only screen and (max-width: 768px) {
    .container2 {
        width: 100%;
    }

    .img_spans .three_spans {
        display: none;
    }

    .span_btn_select button {
        display: none;
    }

    .span_btn_select .ayliq_btn {
        display: none;
    }

    .footer_div {
        display: flex;
        gap: 100px;
        flex-wrap: wrap;
    }

    footer {
        height: 750px;
        background-color: #fff;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
    }

    .melumatlar {
        overflow: scroll;
    }

    .down_header_icon a:nth-child(1) {
        display: none;
    }

    .down_header_icon .two_a {
        display: none;
    }

    .down_header_icon .two_line {
        display: none;
    }

    .kataloq_div span {
        display: none;
    }

    .swiper1 {
        width: 768px;
        height: 768px;
        border-radius: 10px;
        margin: 0 auto;
    }

    .one_section #center img {
        width: 768px;
        height: 768px;
    }

    .satis_buttons div {
        display: flex;
        overflow: scroll;
    }

    #two_section .card {
        width: 440px;
        height: 350px;
    }

    .li_icon_admin {
        display: block;
    }

    .pop_up {
        display: none;
        width: 426px;
        height: 600px;
        padding: 14px 50px 50px;
        margin: 0 auto;
        margin-top: 21px;
        border: 1px solid #ccc;
        background: #fff;
        overflow-y: scroll;
        position: fixed;
        left: 75%;
        top: 85%;
        transform: translate(-50%, -50%);
        z-index: 1000;
    }

}

@media only screen and (max-width: 425px) {
    .container2 {
        width: 100%;
    }

    /* 
    .container1 {
        width: 100%;
    } */

    .input_div input {
        width: 220px;
    }

    .swiper1 {
        width: 425px;
        height: 425px;
        border-radius: 10px;
    }

    .one_section #center img {
        width: 425px;
        height: 425px;
    }

    .span_btn_select a:nth-child(1) {
        font-size: 16px;
    }

    .span_btn_select select {
        font-size: 14px;
    }

    #two_section .card {
        width: 226px;
        height: 365px;
        /* margin-left: 60px; */
    }

    .li_icon_admin {
        display: block;
    }

    .melumatlar {
        width: 400px;
    }

    .down_div {
        width: 400px;
    }

    .satis_buttons {
        overflow-x: auto;
        flex-wrap: nowrap;
        display: flex;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 30%;
        top: -4%;
    }
}

@media only screen and (max-width: 375px) {
    .container2 {
        width: 100%;
    }

    .container1 {
        width: 100%;
    }

    .li_icon_admin {
        display: block;
    }

    .swiper1 {
        height: 565px;
        border-radius: 10px;
        display: flex;
        gap: 50px;
    }

    .swiper1 img {
        height: 565px;
        width: 565px;
        border-radius: 10px;
        display: flex;
        gap: 50px;
    }
}

@media only screen and (max-width: 320px) {
    .container2 {
        width: 100%;
    }

    .container1 {
        width: 100%;
    }

    .li_icon_admin {
        display: block;
    }
}

@media only screen and (max-width: 1023px) {
    .slider-container .slide-button {
        display: none !important;
    }

    .slider-container .image-grid {
        gap: 10px;
        margin-bottom: 15px;
        scroll-snap-type: x mandatory;
    }

    .slider-container .image-grid .image-item {
        width: 280px;
        height: 380px;
    }

    .slider-scrollbar .scrollbar-thumb {
        width: 20%;
    }
}